:root {
    --bg-color: #161616;
    --bg-secondary: rgb(92, 92, 92);
    --bg-hover: rgba(92, 92, 92, 0.616);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--bg-color);
    display: grid;
    place-items: center;
}

.c-main {
    /* max-width: 1200px; */
    width: 95%;
    height: 95%;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 25px;
}

.l-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.l-list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    background-color: var(--bg-secondary);
    padding: 1rem 2.5rem;
    border-radius: 25px;
    font-size: 1.25rem;
}

.l-list__item:hover {
    background-color: var(--bg-hover);
}